<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="wmark.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="wmark.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <wmark.Properties.Settings>
            <setting name="PathSource" serializeAs="String">
                <value />
            </setting>
            <setting name="PathDest" serializeAs="String">
                <value />
            </setting>
            <setting name="Prefix" serializeAs="String">
                <value>wm_</value>
            </setting>
            <setting name="Body" serializeAs="String">
                <value />
            </setting>
            <setting name="TextColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="Font" serializeAs="String">
                <value>Georgia, 72pt</value>
            </setting>
            <setting name="MarkLocation" serializeAs="String">
                <value>Lowerleft</value>
            </setting>
        </wmark.Properties.Settings>
        <wmark.Settings1>
            <setting name="SrcPath" serializeAs="String">
                <value />
            </setting>
            <setting name="DestPath" serializeAs="String">
                <value />
            </setting>
        </wmark.Settings1>
    </userSettings>
</configuration>